.rmdb-header {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

.rmdb-header-content {
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.rmdb-header-content a{
    width: 50%;
}

.rmdb-header-content .right {
    text-align: right;
    width: 50%;
}

.rmdb-logo {
    width: 60px;
}

.rmdb-tmdb-logo {
    width: 122px;
}

@media screen and (max-width: 500px) {
    .rmdb-header-content {
        max-width: 1280px;
        min-height: 0px;
    }

    .rmdb-tmdb-logo {
        display: inline-block;
        width: 80px;
        margin-top: 0px;
    }
}
